<!doctype html>
<html>
<head>
  <title>QR Ordering</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <nav><div class="nav-wrapper"><a class="brand-logo center">QR Ordering</a></div></nav>
  <main class="container"><%- body %></main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
